.icon-plus {
    background-image: url('../images/icons/plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-user-plus {
    background-image: url('../images/icons/user-plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-image {
    background-image: url('../images/icons/image.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-link {
    background-image: url('../images/icons/link.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-folder {
    background-image: url('../images/icons/folder.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-music {
    background-image: url('../images/icons/music.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-pay {
    background-image: url('../images/icons/pay.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-shopping {
    background-image: url('../images/icons/shopping.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-question {
    background-image: url('../images/icons/question.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-infinity {
    background-image: url('../images/icons/infinity.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-smile {
    background-image: url('../images/icons/smile.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-heart {
    background-image: url('../images/icons/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-check {
    background-image: url('../images/icons/check.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-wallet {
    background-image: url('../images/icons/wallet.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-heart-outline {
    background-image: url('../images/icons/heart-outline.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-settings {
    background-image: url('../images/icons/settings.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-cube {
    background-image: url('../images/icons/cube.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-chat {
    background-image: url('../images/icons/chat.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-chat-outline {
    background-image: url('../images/icons/chat-outline.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-camera {
    background-image: url('../images/icons/camera.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-camera-outline {
    background-image: url('../images/icons/camera-outline.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.icon-search {
    background-image: url('../images/icons/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}